SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MostAct]
AS
     SELECT ROW_NUMBER() OVER(ORDER BY ID ASC) ID, ISNULL(MOST_ACT_QUESTIONS, 0)as MOST_ACT_QUESTIONS,ISNULL(MOST_ACT_ANSWER, 0) as MOST_ACT_ANSWER,( 
		   SELECT DESCR
		   FROM SBH_TM_MOSTACTIVITY
		   WHERE ISNULL(MOST_ACT_ANSWER, 0) + ISNULL(MOST_ACT_QUESTIONS, 0) BETWEEN BEGIN_MOST_COUNT AND END_MOST_COUNT 
		  ) AS DESCR,
           ( 
		   SELECT START_COUNT
		   FROM SBH_TM_MOSTACTIVITY
		   WHERE ISNULL(MOST_ACT_ANSWER, 0) + ISNULL(MOST_ACT_QUESTIONS, 0) BETWEEN BEGIN_MOST_COUNT AND END_MOST_COUNT 
		  ) AS START_COUNT
     FROM SBH_TM_USER_ADMIN
     WHERE row_status = 0;

GO
