SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TaskListUser]
AS
     SELECT A.ID,
            D.ID_USER_TAGGING,
            B.CATEGORY_DESC,
            C.USER_NAME,
            C.USER_MAIL,
            A.TITLE_QUESTIONS,
            A.QUESTIONS,
            CONVERT(VARCHAR, A.CREATED_TIME,106)CREATED_TIME,
            A.CREATED_BY
     FROM SBH_TR_QUESTIONS A
          LEFT JOIN SBH_TM_CATEGORY_QUESTIONS B ON A.ID_CATEGORY = B.ID
          LEFT JOIN SBH_TM_USER_ADMIN C ON C.ID = A.ID_USER
          JOIN SBH_TR_QUESTIONS_TAGGING D ON D.ID_QUESTIONS = A.MAXID
     WHERE ANSWER_STATUS = -1;

GO
