SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ListUser]      
AS      
SELECT A.ID, A.ID_GROUP, C.GROUP_DESC, A.USER_MAIL, A.USER_NAME,       
B.GENDER,D.GENDER_DESC, convert(varchar, B.BORN,106) BORN, B.ADDRESS, B.DESCRIPTION, B.JOB,      
B.COMPANY, B.HOBBY      
FROM SBH_TM_USER_ADMIN A       
LEFT JOIN SBH_TM_USER_PROFILE_ADMIN B ON A.ID_USER_ADMIN = B.ID_USER_ADMIN      
LEFT JOIN SBH_TM_GROUP C ON C.ID = A.ID_GROUP      
LEFT JOIN SBH_TM_GENDER D ON D.GENDER_ID=B.GENDER      
where A.ROW_STATUS=0 AND B.ROW_STATUS=0

GO
