SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_GENDER](
	[GENDER_ID] [varchar](1) NOT NULL,
	[GENDER_DESC] [varchar](25) NULL,
	[CREATED_TIME] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[GENDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
