SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_USER_ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_GROUP] [int] NULL,
	[ID_USER_ADMIN] [varchar](50) NOT NULL,
	[USER_MAIL] [varchar](100) NOT NULL,
	[USER_NAME] [varchar](50) NOT NULL,
	[IS_SUPER_ADMIN] [bit] NOT NULL,
	[LAST_LOGIN] [datetime] NULL,
	[PASSWORD] [varchar](50) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
	[MOST_ACT_ANSWER] [int] NULL,
	[MOST_ACT_ANSWER_DATE] [datetime] NULL,
	[MOST_ACT_QUESTIONS] [int] NULL,
	[MOST_ACT_QUESTIONS_DATE] [datetime] NULL,
	[TOKEN] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TM_USER_ADMIN]  WITH CHECK ADD FOREIGN KEY([ID_GROUP])
REFERENCES [dbo].[SBH_TM_GROUP] ([ID])
GO
