SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_CHATBOX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SENDER_ID] [int] NOT NULL,
	[RECEIVER_ID] [int] NOT NULL,
	[MESSAGE] [varchar](max) NOT NULL,
	[DATE] [date] NOT NULL,
	[TIME] [time](7) NOT NULL,
 CONSTRAINT [PK_SBH_TM_CHATBOX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TM_CHATBOX]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_CHATBOX_SBH_TM_USER_ADMIN_RECEIVER] FOREIGN KEY([RECEIVER_ID])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_CHATBOX] CHECK CONSTRAINT [FK_SBH_TM_CHATBOX_SBH_TM_USER_ADMIN_RECEIVER]
GO
ALTER TABLE [dbo].[SBH_TM_CHATBOX]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_CHATBOX_SBH_TM_USER_ADMIN_SENDER] FOREIGN KEY([SENDER_ID])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_CHATBOX] CHECK CONSTRAINT [FK_SBH_TM_CHATBOX_SBH_TM_USER_ADMIN_SENDER]
GO
