SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TR_ARTICLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USER_ADMIN] [int] NULL,
	[ID_ARTICLE_CAT] [int] NULL,
	[ARTICLE] [text] NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TR_ARTICLE]  WITH CHECK ADD FOREIGN KEY([ID_ARTICLE_CAT])
REFERENCES [dbo].[SBH_TM_ARTICLE_CAT] ([ID])
GO
ALTER TABLE [dbo].[SBH_TR_ARTICLE]  WITH CHECK ADD FOREIGN KEY([ID_USER_ADMIN])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
