SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_SOSMED](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [varchar](100) NOT NULL,
	[NAME] [varchar](500) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[ICON] [varchar](100) NULL,
	[URL] [varchar](100) NULL,
	[DATA_EMBED] [varchar](100) NULL,
	[HEIGHT] [int] NULL,
	[WIDTH] [int] NULL,
	[PHOTO_PATH] [varchar](100) NULL,
	[DATA_WIDGET_ID] [varchar](100) NULL,
	[BANNER_SELECTED] [int] NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
 CONSTRAINT [PK__SBH_TM_S__3214EC27C55E9A4A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
