SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TR_QUESTIONS_TAGGING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_QUESTIONS] [int] NULL,
	[ID_USER_TAGGING] [int] NULL,
	[ANSWER_STATUS] [int] NULL,
	[CREATED_TIME] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
