SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_GALERY_FOTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[NEWS_ID] [int] NOT NULL,
	[PHOTO_PATH] [varchar](max) NOT NULL,
	[DESCRIPTION] [varchar](max) NOT NULL,
	[CREATED_TIME] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO] ADD  CONSTRAINT [DF_SBH_TM_GALERY_FOTO_NEWS_ID]  DEFAULT ((0)) FOR [NEWS_ID]
GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO] ADD  CONSTRAINT [DF_SBH_TM_GALERY_FOTO_ROW_STATUS]  DEFAULT ((0)) FOR [ROW_STATUS]
GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_GALERY_FOTO_SBH_TM_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[SBH_TM_NEWS] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO] CHECK CONSTRAINT [FK_SBH_TM_GALERY_FOTO_SBH_TM_NEWS]
GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_GALERY_FOTO_SBH_TM_USER_ADMIN_FOTO_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_GALERY_FOTO] CHECK CONSTRAINT [FK_SBH_TM_GALERY_FOTO_SBH_TM_USER_ADMIN_FOTO_USER]
GO
