SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_EVENT_REGISTRATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[NEWS_ID] [int] NOT NULL,
	[NAME_OF_MOM] [varchar](100) NULL,
	[BORN_OF_MOM] [datetime] NULL,
	[NAME_OF_DAD] [varchar](100) NULL,
	[BORN_OF_DAD] [datetime] NULL,
	[NAME_OF_CHILD] [varchar](100) NULL,
	[BORN_OF_CHILD] [datetime] NULL,
	[GENDER_OF_CHILD] [varchar](20) NULL,
	[ADDRESS] [varchar](500) NULL,
	[TELP] [varchar](15) NULL,
	[EMAIL] [varchar](200) NULL,
	[STATUS_PAYMENT] [varchar](20) NULL,
	[COMPLETED_PAYMENT_DATE] [datetime] NULL,
	[PHOTO_PAYMENT_EVIDANCE] [varchar](200) NULL,
	[FAQ_AGREEMENT] [bit] NULL,
	[BANK_NAME] [varchar](50) NULL,
	[BANK_ACCOUNT_NUMBER] [varchar](50) NULL,
	[CREATED_TIME] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TM_EVENT_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_EVENT_REGISTRATION_SBH_TM_NEWS] FOREIGN KEY([NEWS_ID])
REFERENCES [dbo].[SBH_TM_NEWS] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_EVENT_REGISTRATION] CHECK CONSTRAINT [FK_SBH_TM_EVENT_REGISTRATION_SBH_TM_NEWS]
GO
ALTER TABLE [dbo].[SBH_TM_EVENT_REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_SBH_TM_EVENT_REGISTRATION_SBH_TM_USER_ADMIN] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
ALTER TABLE [dbo].[SBH_TM_EVENT_REGISTRATION] CHECK CONSTRAINT [FK_SBH_TM_EVENT_REGISTRATION_SBH_TM_USER_ADMIN]
GO
