SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TR_QUESTIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CATEGORY] [int] NULL,
	[ID_USER] [int] NULL,
	[QUESTIONS] [text] NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
	[MOST_COMMENT] [int] NULL,
	[MOST_COMMENT_DATE] [datetime] NULL,
	[TITLE_QUESTIONS] [varchar](100) NULL,
	[MAXID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TR_QUESTIONS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[SBH_TM_CATEGORY_QUESTIONS] ([ID])
GO
ALTER TABLE [dbo].[SBH_TR_QUESTIONS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORY])
REFERENCES [dbo].[SBH_TM_CATEGORY_QUESTIONS] ([ID])
GO
ALTER TABLE [dbo].[SBH_TR_QUESTIONS]  WITH CHECK ADD FOREIGN KEY([ID_USER])
REFERENCES [dbo].[SBH_TM_USER_ADMIN] ([ID])
GO
