SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SBH_TM_SLIDESHOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITTLE] [varchar](100) NOT NULL,
	[CONTENT_DESCRIPTION] [varchar](max) NULL,
	[CLASS] [varchar](100) NOT NULL,
	[PHOTO_PATH] [varchar](100) NULL,
	[URL] [varchar](100) NULL,
	[CREATED_TIME] [datetime] NOT NULL,
	[CREATED_BY] [varchar](50) NOT NULL,
	[LAST_MODIFIED_TIME] [datetime] NULL,
	[LAST_MODIFIED_BY] [varchar](50) NULL,
	[ROW_STATUS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[SBH_TM_SLIDESHOW] ADD  DEFAULT ((0)) FOR [ROW_STATUS]
GO
