<link href="~/Content/Persada/style-page-magazine.css" rel="stylesheet" />


<div class="col-md-12" id="magazine-preview-container">
    <iframe style="margin: 0 auto; width: 100%; height:100%; background:rgb(239, 243, 248)" src="//v.calameo.com/?bkcode=00370106215ae7e36a478&amp;mode=mini" frameborder="0" scrolling="no" allowfullscreen="allowfullscreen"></iframe>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-danger post" style="background-image: url('/Content/img/WA1.jpg')">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2018/02/profil-web-mei-juni-208x265.jpg" class="img-responsive wp-post-image" alt="profil web mei juni">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="20263">
                                <p>
                                    EDISI <b>14/05/2018</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/11/cover-web-tes-jan-18-208x265.jpg" class="img-responsive wp-post-image" alt="cover web tes jan 18">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="19963">
                                <p>
                                    EDISI <b>07/02/2018</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/11/DP-web-Nov-des-17-208x265.jpg" class="img-responsive wp-post-image" alt="DP web Nov-des 17">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="19850">
                                <p>
                                    EDISI <b>20/11/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/10/dp-web-okt-208x265.jpg" class="img-responsive wp-post-image" alt="dp web okt">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="18783">
                                <p>
                                    EDISI <b>02/10/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/07/cover-web-juli-agust-2017-208x265.jpg" class="img-responsive wp-post-image" alt="cover web juli agust 2017">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="16253">
                                <p>
                                    EDISI <b>18/07/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/05/cover-mei-juni-208x265.jpg" class="img-responsive wp-post-image" alt="cover mei juni">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="15755">
                                <p>
                                    EDISI <b>17/05/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/03/covere-web-maret-april-208x265.jpg" class="img-responsive wp-post-image" alt="covere web maret april">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="15364">
                                <p>
                                    EDISI <b>25/03/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2017/02/cover-web-janfeb17-208x265.jpg" class="img-responsive wp-post-image" alt="cover web janfeb17">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="15211">
                                <p>
                                    EDISI <b>10/02/2017</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2016/11/cover-web_nov-208x265.jpg" class="img-responsive wp-post-image" alt="cover-web_nov">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="14952">
                                <p>
                                    EDISI <b>23/11/2016</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row magazine">
                            <div class="col-lg-12 thumb animated">
                                <img width="208" height="265" src="http://sangbuahhati.com/wp-content/uploads/2016/10/cover-web-oktober-2016-208x265.jpg" class="img-responsive wp-post-image" alt="cover-web-oktober-2016">
                            </div>
                            <div class="col-lg-12 edition" align="center" data-post="13736">
                                <p>
                                    EDISI <b>01/10/2016</b>
                                </p>
                                <p class="view"> View </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           @Html.Partial("~/Views/News/_BannerSelected.cshtml")
        </div>
    </div>

</div>



