<nav class="quick-nav">
    <a class="quick-nav-trigger" href="#">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <a href="http://www.facebook.com/sangbuahhatimajalah" target="_blank" class="active">
                <span>Facebook</span>
                <i class="icon-social-facebook"></i>
            </a>
        </li>
        <li>
            <a href="http://www.twitter.com/sangbuahhati" target="_blank">
                <span>Twitter</span>
                <i class="icon-social-twitter"></i>
            </a>
        </li>
        <li>
            <a href="http://www.instagram.com" target="_blank">
                <span>Instagram</span>
                <i class="icon-social-dropbox"></i>
            </a>
        </li>
        <li>
            <a href="http://www.youtube.com" target="_blank">
                <span>Youtube</span>
                <i class="icon-social-youtube"></i>
            </a>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div class="quick-nav-overlay"></div>