<div class="blog-single-sidebar bordered blog-container">
    <div class="blog-single-sidebar-recent">
        <h5 class="blog-sidebar-title uppercase">Recent Posts</h5>
        <ul>
            <li>
                <a href="javascript:;">Recent Posts 1</a>
            </li>
            <li>
                <a href="javascript:;">Recent Posts 2</a>
            </li>
            <li>
                <a href="javascript:;">Recent Posts 3</a>
            </li>
            <li>
                <a href="javascript:;">Recent Posts 4</a>
            </li>
        </ul>
    </div>
    <div class="blog-single-sidebar-tags">
        <h5 class="blog-sidebar-title uppercase">Tags</h5>
        <ul class="blog-post-tags">
            <li>
                <a href="javascript:;">Tags 1</a>
            </li>
            <li>
                <a href="javascript:;">Tags 2</a>
            </li>
            <li>
                <a href="javascript:;">Tags 3</a>
            </li>
            <li>
                <a href="javascript:;">Tags 4</a>
            </li>
        </ul>
    </div>
    <div class="blog-single-sidebar-links">
        <h5 class="blog-sidebar-title uppercase">Useful Links</h5>
        <ul>
            <li>
                <a href="javascript:;">Links 1</a>
            </li>
            <li>
                <a href="javascript:;">Links 2</a>
            </li>
            <li>
                <a href="javascript:;">Links 3</a>
            </li>
            <li>
                <a href="javascript:;">Links 4</a>
            </li>
        </ul>
    </div>
    <div class="blog-single-sidebar-ui">
        <h5 class="blog-sidebar-title uppercase">User</h5>
        <a href="javascript:;">
            <img src="~/Content/img/avatar1.jpg" class="img-circle" />
        </a>
        <a href="javascript:;">
            <img src="~/Content/img/avatar2.jpg" class="img-circle" />
        </a>
        <a href="javascript:;">
            <img src="~/Content/img/avatar3.jpg" class="img-circle" />
        </a>
        <a href="javascript:;">
            <img src="~/Content/img/avatar4.jpg" class="img-circle" />
        </a>
        <a href="javascript:;">
            <img src="~/Content/img/avatar6.jpg" class="img-circle" />
        </a>
        <a href="javascript:;">
            <img src="~/Content/img/avatar7.jpg" class="img-circle" />
        </a>
    </div>
</div>
